/Backend/Server/build
/Backend/Server/node_modules
/Backend/Server/.env

/BackgroundServices/MailingAPI/node_modules
/BackgroundServices/MailingAPI/build
/BackgroundServices/MailingAPI/.env

/BackgroundServices/PasswordResetAPI/node_modules
/BackgroundServices/PasswordResetAPI/build
/BackgroundServices/PasswordResetAPI/.env

/Server/build
/Server/node_modules
/Server/.env

